.heading {
    font-size: 60px;
    text-align: center;
    color: rgb(91, 182, 212);
}

.dateInput {
    margin-bottom: 10px;
}

.right {
    position: absolute;
    bottom: 0;
    right: 0;
}

.congItem {
    font-size: 11px;
    padding: 0.75rem 0px !important;
}

.week {
    transform: rotate(-90deg);
    padding: 10px 0px !important;

}
.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}
.present {
    background-color: rgba(0, 128, 0, 0.5);
}

.absent {
    background-color: silver;
}

.request {
    background-color: rgba(60, 60, 165, 0.5);
}

.late {
    background-color: rgba(255, 166, 0, 0.5);
}
.holiday{
    background-color: #e76161;
}

.weekend{
    background-color: #20c997;
}


.monthHeading{
    font-size: 30px;
    color: #495057;
}